
.root {
    background: wheat;
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px;
    float: right;
}
.ball {
    background: violet;
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0;
    position: absolute;
    left: 45%;
}

.right {
    background: antiquewhite;
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px;
    float: left;
}